#titulo{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        font-style: bold;
        color: #545454;
}

#titulo2{
        margin-top: 120px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        font-style: bold;
        color:  #545454;
}


#AppLogo{
        display: block;
        margin-bottom: 40px;
}

#iniciar{
        width: 150px;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #0986c5;
        border-radius: 6px;
        border: 2px solid #0016b0;
        margin-top: 100px;
        margin-left: 500px;
        margin-right: 70px;
}

#registro{
        width: 150px;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #ffffff;
        background-color: #01471e;
        border-radius: 6px;
        border: 2px solid #0016b0;
        margin-top: 10px;
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 50px;
}

#derechos{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
        text-align: center;
}

#quest{
        font-size: 32px;
        font-style: italic;
        margin: 10px;
        font-family: fantasy;
        letter-spacing: 1px;
        color: white;
}

#descripcion{
        text-align: center;
        background-color: rgb(108, 170, 141);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
}

#entrar{
        width: 100px;
        height: 40px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        font-size: 20px;
        border: 4px solid #0099CC;
        border-radius: 6px;
}

.cajainicio{
        background-image: url("./LogoWeb.svg");
        color: transparent;
}

.cajainicio2{
        margin-top: 135px;
        background-image: url("./LogoWeb.svg");
        color: transparent;
}

.tituloAPP{
        align-items: center;
}

#loginApp{
        text-align: center;
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

#passApp, #userMail{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

#but, #forgot, #tituloLib, #autorLib, #ISBN, #sinopsis {
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

#sino{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        height: 60px;
        width: 400px;
}

#subirarchivos, #subirportada{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
}
