/*Titulo BookBrain Raiz.jsx y Login.jsx*/
#titulo{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        font-style: bold;
        color: #545454;
}

#titulo2{
        margin-top: 120px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 70px;
        font-style: bold;
        color:  #545454;
}

/*AppLogo Raiz.jsx*/
#AppLogo{
        display: block;
        margin-bottom: 40px;
}

/* #derechos{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 32px;
        padding-bottom: 16px;
        background: #111;
        color: white;
        text-align: center;
        border-top: 2px solid #0099CC;
} */

/*Qué es BookBrain en Raiz.jsx*/
#quest{
        font-size: 32px;
        font-style: italic;
        margin: 10px;
        font-family: fantasy;
        letter-spacing: 1px;
        color: white;
}
/*Qué es BookBrain en Raiz.jsx*/
#descripcion{
        text-align: center;
        background-color: rgb(108, 170, 141);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
}
/*Qué es BookBrain en Raiz.jsx*/
#entrar{
        width: 100px;
        height: 40px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;
        font-size: 20px;
        border: 4px solid #0099CC;
        border-radius: 6px;
}

/* #userMail{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
} */

/*Admin.jsx*/
#but, #tituloLib, #autorLib, #genderLib, #ISBN, #sinopsis, #formato {
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

/*Admin.jsx*/
#sino, #TextoAEnviar{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        height: 60px;
        width: 400px;
}

/*Admin.jsx*/
#subirarchivos, #subirportada{
        text-align: center;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
}

/*Admin.jsx*/
#closeSesion{
        margin-left: auto;
        margin-right: auto;
        margin-top: "60";
        height: "60";
        color: #FFFF;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: "20";
        width: "50";
        border-radius: "30";
        background-color: #E61515;
}

/*Navigator.jsx*/
#barra{
        background-color: #74bbdf;
}

.nav-link{
        color: #f6f6f7;
        text-decoration: double;
}
/* #logout{
        border:0;
        background-color: rgba(238, 238, 238, 0);
        outline: none;
}
 */
/*ConfigurarCuenta.jsx*/
#transparente{
        border:0;
        background-color: rgba(238, 238, 238, 0);
        outline: none;
}
/* 
#headerConfig{
        background-color: #00BFFF;
        height: "200";
}

#bodyConfig{
        marginTop: "40";
}

#bodyContent{
        flex: "1";
        align-items: center;
        padding: "30";
}

#buttonContainer{
        margin-top: "10";
        height: "45";
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: "20";
        width: "250";
        border-radius: "30";
        background-color: #00BFFF;
}

#buttonContainer2{
        margin-top: "40";
        height: "45";
        color: #FFFF;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: "20";
        width: "250";
        border-radius: "30";
        background-color: #E61515;
}
 */

 /*Biblitoeca.jsx*/
 #irColecciones{
        display: inline-block;
        vertical-align: top; 
        border: none;
        color: white;
        background-color: #4CAF50;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer; 
 }

 #irLibros{
        display: inline-block;
        vertical-align: top; 
        border: none;
        color: white;
        background-color: #242e24;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer; 

 }

  /*Colecciones.jsx*/
  #TodasColecciones{
        position: relative;
        left: 5%;
        border: none;
        color: white;
        background-color: #307734;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
 }

 #UnaColeccion,#IntroduzcaISBN,#IntroduzcaColCrear,#TitViejo,#TitNuevo,#TitEliminar,#btn-nquote,#btn-flex{
        position: relative;
        left: 5%;
        padding: 16px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
 }

 #Coleccion,#CrearColeccion,#RenColeccion,#ColeccionEliminar{
        position: relative;
        left: 9%;
        border: none;
        color: white;
        background-color: #307734;
        padding: 16px 36px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
 }

 #subtit{
        margin-left: 2%; 
 }
/* Estilos relativos a los botones Óscar */

#titBib{
        margin-left: 10px;
        text-decoration: solid;
}

#irLeyendo2{
        position: relative;
        left: 40%;
        border: none;
        color: white;
        background-color: #4CAF50;
        padding: 16px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        height: 60px;
        width: 300px;
 }

 #irCole,#obteLibros{
        float: left;
        margin-left: 40%;

}

#twi{
        float: left;
        width: 450px;
        height: 700px;
        margin-left: 15%;
        margin-right: 90px;
        padding: 3px;  
}

#perio{
        float: left;
        width: 450px;
        height: 700px;
        margin-right: 90px;
        padding: 3px;  
}

#cajaglob{
        display: inline-block;
}